#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

#gdb files
.gdb_history
*.elf
#docker
.bash_history

#vscode settings
.vscode

#Clion settings
.idea

#clangd lsp
compile_flags.txt
